.nav-tabs{
    background-color: #1c1c1c;
    height: 12vh;
}

.animate__animated{
    
    color: rgb(255, 255, 255);
    text-shadow: 11px 25px 4px rgb(255 255 255)
}

.specialTop{
    text-shadow: 8px 8px 10px #6233d4;
    text-align: center;
}

.parallax{
    background-image: url('https://zacharykathe.github.io/Portfolio/images/gifgit.gif');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brkten{
    height: 10vh;
}

.special{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-shadow: 8px 8px 10px #6233d4;
}

.IconPad{
    padding-right: 4px;
}

.highlightcontainer{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.propertyOwnership{
    background-image: url("/images/propertOwnershipCover400.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    box-shadow: 8px 6px gray;
}

.itemlink{
    margin-left: 5%;
    margin-bottom: 2%;
    width: 30%;
    box-shadow: 5px 5px gray;
}
